<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="style/main.css" rel="stylesheet"/>
    <script src="script/jquery-3.7.1.min.js"></script>
    <script src="script/my.js"></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task,number : ${tasks.content}">
        <td th:text="${task.id}"></td>
        <td th:id="'description' + ${task.id}" th:text="${task.description}"></td>
        <td th:id="'status' + ${task.id}" th:text="${task.status}"></td>
        <td>
            <button th:id="'edit' + ${task.id}" th:onclick="'editTask(' + ${task.id} + ')'">Edit</button>
        </td>
        <td>
            <button th:id="'delete' + ${task.id}" th:onclick="'deleteTask(' + ${task.id} + ')'">Delete</button>
        </td>
    </tr>
    <tr>
        <td class="text_bold" colspan="3">Add new task:</td>
    </tr>
    <tr>
        <td>-</td>
        <td>
            <input id="postDescription" type="text" value="">
        </td>
        <td>
            <label for="postStatus"></label>
            <select id="postStatus">
                <option value="IN_PROGRESS">IN_PROGRESS</option>
                <option value="DONE">DONE</option>
                <option value="PAUSED">PAUSED</option>
            </select>
        </td>
        <td>
            <button id="postSave" onclick="addTask()">Save</button>
        </td>
    </tr>
    </tbody>
</table>
<h2>
    <button class="button_page" th:each="pageNumber : ${pageNumbers}">
        <a th:classappend="${pageNumber == tasks.getNumber() ? 'active_page' : ''}" th:href="@{/(page=${pageNumber})}"
           th:text="${pageNumber + 1}"></a>
    </button>
</h2>
</body>
</html>